@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";
@import "../../styles/layouts.scss";

.services_container {
  height: auto;
  background: $secondary;
  scroll-margin-top: 5rem;

  .services {
    @extend .container;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10em;
  }
}
