.offer_card {
  height: 15em;
  color: white;
  // background-attachment: fixed;
  // background-position: center;
  width: 20em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 1em;
  transition: all 500ms ease-in;
  margin: 1em;
  
  // &:hover,
  // &:focus {
  //   h6 {
  //     bottom: 100px;
  //   }
  // }
  
  & > h6 {
    // position: relative;
    font-weight: 400;
    font-size: 1rem;
  }
}
