@import "../../../styles/breakpoints.scss";


.card_container {
  margin: 1em;
}

.offer_card {
  height: 15em;
  color: white;
  width: 20em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 1em;
  transition: all 500ms ease-in;
    
  & > h6 {
    // position: relative;
    font-weight: 400;
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
}

@media (max-width: $md) {
  .card_container {
    margin: 0 1em;
  }

  .offer_card {
    margin: 1em 0;
  }
}
