@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.navbar {
  background: $primary;
  color: #fff;
  position: relative;
  z-index: 99;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 5em;

  @media (max-width: $lg) {
    padding: 0em 2em;
  }

  @media (max-width: $sm) {
    padding: 0 1em;
  }
  

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    transition: all 200ms ease-in;

    &.active {
      right: 0px;
      z-index: 5;
    }

    @media (max-width: $md) {
      position: fixed;
      background: $primary;
      right: -200px;
      top: 60px;
      z-index: 2;
      flex-direction: column;
      height: 100%;
    }

    & > li {
      padding: 0.5em 1em;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover,
      &:focus {
        background: $secondary;
      }

      a {
        color: #fff;
        text-decoration: none;
      }

      @media (max-width: $md) {
        padding: 0.8em 3em;
      }
    }
  }

  .menu {
    display: none;
    width: 25px;
    height: 20px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    margin-top: 1em;

    @media (max-width: $md) {
      display: block;
    }

    &_hamburger {
      width: 25px;
      height: 3px;
      background: #fff;
      border-radius: 2px;
      transition: all 500ms ease-in-out;

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        transition: all 500ms ease-in-out;
      }

      &::before {
        transform: translateY(-6px);
      }

      &::after {
        transform: translateY(6px);
      }
    }

    &.menu_open {
      .menu_hamburger {
        transform: translateX(-30px);
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(20px, -20px);
        }

        &::after {
          transform: rotate(-45deg) translate(20px, 20px);
        }
      }
    }
  }
}
