@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.card {
  width: 20em;
  height: 80%;
  color: #fff;
  text-align: center;
  background: $secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border: 5px solid $primary;
  position: relative;
  top: 5em;
  margin-top: 4em;
  margin-left: 1em;
  margin-right: 1em;

  & > img {
    width: 40%;
    margin-bottom: 1em;
  }

  & > h3, p {
    margin-bottom: 0.5em;
  }
}