@import "../../styles/breakpoints.scss";
@import "../../styles/layouts.scss";

.offers {
  @extend .container;
  margin-bottom: 3em;
  scroll-margin-top: 5rem;

  .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

// @media (max-width: $lg) {
//   .offers {
//     margin: 1em 3em;
//   }
// }

// @media (max-width: $sm) {
//   .offers {
//     margin: 1em;
//   }
// }